AWSTemplateFormatVersion: "2010-09-09"
Description: "AWS CloudFormation Stack Drift Detector"

Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: "General Configuration"
        Parameters:
          - SystemName
          - Environment
      - Label:
          default: "AWS Config Configuration"
        Parameters:
          - MaximumExecutionFrequency
      - Label:
          default: "Amazon SNS Configuration"
        Parameters:
          - EmailAddress

Parameters:
  # General Configuration
  SystemName:
    Type: String
    Description: "System name (used as resource name prefix)"
    AllowedPattern: "^[a-z0-9-]+$"
    ConstraintDescription: "Use lowercase letters, numbers, and hyphens only."

  Environment:
    Type: String
    Description: "Environment name (used only for resource naming, e.g. dev, stg, prd, sandbox)"
    Default: dev
    AllowedPattern: "^[a-z0-9-]+$"
    ConstraintDescription: "Use lowercase letters, numbers, and hyphens only."

  # AWS Config Configuration
  MaximumExecutionFrequency:
    Type: String
    Description: "The maximum frequency with which AWS Config runs evaluations for a rule."
    AllowedValues:
      - "One_Hour"
      - "Three_Hours"
      - "Six_Hours"
      - "Twelve_Hours"
      - "TwentyFour_Hours"
    Default: TwentyFour_Hours

  # Amazon SNS Configuration
  EmailAddress:
    Type: String
    Description: "Email address for receiving drift notifications (initial subscription)"

Resources:
  # IAM for AWS Config Drift Detection
  ConfigCfnDriftPolicy:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      ManagedPolicyName: !Sub "${SystemName}-${Environment}-config-cfn-drift-policy"
      Description: "IAM Policy for AWS CloudFormation Stack Drift Detector"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - cloudformation:DetectStackResourceDrift
              - cloudformation:DescribeStackDriftDetectionStatus
              - cloudformation:DetectStackDrift
              - cloudformation:DescribeStackResourceDrifts
            Resource: "*"

  ConfigCfnDriftRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${SystemName}-${Environment}-config-cfn-drift-role"
      Description: "IAM Role for AWS CloudFormation Stack Drift Detector"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - config.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/ReadOnlyAccess
        - !Ref ConfigCfnDriftPolicy

  # AWS Config Rule
  ConfigCfnDriftRule:
    Type: AWS::Config::ConfigRule
    Properties:
      ConfigRuleName: !Sub "${SystemName}-${Environment}-config-cfn-drift-rule"
      InputParameters:
        cloudformationRoleArn: !GetAtt ConfigCfnDriftRole.Arn
      Scope:
        ComplianceResourceTypes:
          - AWS::CloudFormation::Stack
      Source:
        Owner: AWS
        SourceIdentifier: CLOUDFORMATION_STACK_DRIFT_DETECTION_CHECK
      MaximumExecutionFrequency: !Ref MaximumExecutionFrequency

  # Amazon SNS
  SnsCfnDriftTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: !Sub "${SystemName}-${Environment}-cfn-drift-info-topic"
      TopicName: !Sub "${SystemName}-${Environment}-cfn-drift-info-topic"

  CfnDriftSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !Ref EmailAddress
      TopicArn: !Ref SnsCfnDriftTopic
      Protocol: email

  SnsCfnDriftTopicPolicy:
    Type: AWS::SNS::TopicPolicy
    Properties:
      Topics:
        - !Ref SnsCfnDriftTopic
      PolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sns:Publish
            Resource: !Ref SnsCfnDriftTopic

  # EventBridge
  EventsCfnDriftRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${SystemName}-${Environment}-cfn-drift-event-rule"
      EventPattern:
        source:
          - aws.config
        detail-type:
          - Config Rules Compliance Change
        detail:
          messageType:
            - ComplianceChangeNotification
          newEvaluationResult:
            complianceType:
              - NON_COMPLIANT
          configRuleName:
            - !Ref ConfigCfnDriftRule
      Targets:
        - Arn: !Ref SnsCfnDriftTopic
          Id: cfn-drift

# Outputs
Outputs:
  ConfigRuleName:
    Description: "AWS Config managed rule name for drift detection"
    Value: !Ref ConfigCfnDriftRule
    Export:
      Name: !Sub "${AWS::StackName}-ConfigRuleName"

  SnsTopicArn:
    Description: "SNS Topic ARN for drift notifications"
    Value: !Ref SnsCfnDriftTopic
    Export:
      Name: !Sub "${AWS::StackName}-SnsTopicArn"
